@CHARSET "ISO-8859-1";

header
{
	width: 100%;
	position: fixed;
	height: 100px; 
	background-color: #F8F8FF;
	border-bottom: 1px solid;
}
div.header
{
	width:100%;
}
div.logo h1
{
	float: left;
	display: block;
	font-family: "Vintage";
	font-size: 45px;
	margin-left: 4%;
	margin-top: 20px;
}
header nav
{
	float: right;
	margin-top: 20px;
	margin-right: 3%;
}
ul li
{
	list-style-type: none;	
	display: inline;
	margin: 0 13px 0 0;
	font-size: 16px;
	font-family: "Vintage";
}
ul li.split
{
	font-family: "Time New Roma";
}
a
{
	text-decoration: none;
}
a:link
{
	color: black;
}
a:hover
{ 
    color: #800000;
}
a:active
{
	color: #800000;
}
a:visited
{
	color: none;
}
#body
{
	position relative;
	top: 100px;
}
#about
{
	width: 100%;
	border-bottom: 1px solid;
	height: 500px;
}
#about .left
{
	float: left;
	width: 50%;
	margin-top: 120px;
}
#about .left img
{
	margin-left: 50px;
	width: 260px;
	height: 350px;
}
#about .right
{
	float: right;
	width: 50%;
	
}
#about .right p
{
	  width: 380px;
      margin-top: 100px;
      font-size: 28px;
      font-family: "museo_slab500";
      line-height: 50px;
      color: #333333;
	
}
#experience
{
	width: 100%;
	border-bottom: 1px solid;
	height: 500px;
}