@CHARSET "ISO-8859-1";

body
{
	font-family: 'HelveticaNeue-Light', 'Helvetica Light', 'Helvetica', Arial, sans-serif;
	overflow-x:hidden;
}
h1
{
	text-transform: uppercase;
	color: #54babb;
	font-size: 40px;
	text-align: center;
}
header
{
	width: 100%;
	position: fixed;
	height: 100px; 
	background-color: #54babb;
	top: 0;
	left: 0;
}
div.header
{
	width:100%;
}
header .logo img
{
	float: left;
	margin-left: 7%;
	margin-top: 20px;
	width: 200px;
}
header nav
{
	float: right;
	margin-top: 20px;
	margin-right: 7%;
}
ul li
{
	list-style-type: none;	
	display: inline;
	margin: 0 13px 0 0;
	font-size: 14px;
}
ul li.split
{
	font-family: "Time New Roman";
	color: white;
	font-size: 20px;
}
a:link
{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}
a:hover
{ 
    color: inherit;
    text-shadow: 0 0 5px #FFFFFF;
}
a:visited
{
	color: white;
	text-shadow: 0 0 5px #FFFFFF;
}
a:active
{
	text-shadow: 0 0 5px #FFFFFF;
	color: white;
}
#body
{
	position relative;
	top: 100px;
}
#about
{
	width: 100%;
	height: 550px;
	background-image: url('images/bg.jpg');
	margin-top: 100px;
	left: 0;
	right: 0;
}
#about .info
{
	float: left;
	width: 50%;
	margin-top: 20px;
}
#about .info p
{
	  width: 60%;
      font-size: 16px;
      line-height: 25px;
      color: #333333;
      margin-left: 30px;
      text-align: justify;
      box-shadow: 1px 15px 20px #aaaaaa;
      background-color: #ffffff;
      padding:10px;
}
#about .info .info2
{
	width: 70%;
}
#experience
{
	width: 100%;
	height: 550px;
	padding-top: 90px;
}
#experience .right
{
	float: right;
	margin-right: 100px;
	text-align: center;
	width: 40%;
	height: 70%;
	text-transform: uppercase;
	color: #2e2e2e;
}
#experience .left
{
	float: left;
	margin-left: 100px;
	text-align: center;
	width: 40%;
	height: 70%;
	text-transform: uppercase;
	color: #2e2e2e
}
#experience .right .logo img
{
	width: 150px;
	margin-top: 20px;
}
#experience .right .logo img:hover
{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}
#experience .right .logo
{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin-left: 180px;
	box-shadow: 1px 15px 40px #BBBBBB;
}
#experience .left .logo img
{
	width: 200px;
	margin-top: 45px;
}
#experience .left .logo img:hover
{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}
#experience .left .logo
{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin-left: 180px;
	box-shadow: 1px 15px 40px #BBBBBB;
}
p
{
	line-height: 50%;
}
p.awards
{
	line-height: 100%;
}
p.ph1
{
	margin-top: 50px;
	font-size: 20px;
}
p.ph2
{
	font-size: 16px;
}
p.ph3
{
	font-size: 12px;
}
#skills
{
	width: 100%;
	height: 550px;
	background-color: #F5F5F5;
	margin-top: -20px;
	padding-top: 90px;
}
#skills .title
{
	font-size: 20px;
	text-align: center;
	padding-bottom: 20px;	
	text-transform: uppercase;
}
#skills .left
{
	float: left;
	width: 60%;
	height: 300px;
}
#skills .right
{
	float: right;
	width: 40%;
	height: 300px;
}
div .technical
{
	float: left;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
}
div .technical div
{
	margin: 10px;
	border: 1px solid #54babb;
	padding: 10px;
	background-color: #ffffff;
	width: 27%;
	float: left;
}
div .soft
{
	float: right;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
}
div .soft div
{
	margin: 10px;
	border: 1px solid #54babb;
	padding: 10px;
	background-color: #ffffff;
	width: 35%;
	float: left;
}
#education
{
	width: 100%;
	height: 560px;
	padding-top: 90px;
}
#education .first
{
	width: 50%;
	float: left;
	text-transform: uppercase;
	height: 415px;
}
div .img1
{
	width: 180px;
	float: left;
}
#education .first .logo
{
	height: 160px;
	width: 160px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 50%;
	padding: 5px;
	box-shadow: 1px 15px 40px #BBBBBB;
	margin-left: 50px;
}
#education .first .logo img
{
	width: 160px;
}
#education .first .logo1 img
{
	width: 160px;
	margin-top: 20px;
}
#education .first .logo1
{
	height: 160px;
	width: 160px;
	padding: 5px;
	margin-top: 30px;
	margin-bottom: 20px;
	border-radius: 50%;
	box-shadow: 1px 15px 40px #BBBBBB;
	margin-left: 50px;
}
div .text1
{
	margin-left: 250px;
}
#education .second
{
	width: 50%;
	height: 645px;
	float: right;
	background-image: url("images/big.jpg");
	margin-top: -200px;
}
#awards
{
	width: 100%;
	height: 550px;
	background-color: #F5F5F5;
	padding-top: 90px;
}
#awards .first
{
	float: left;
	width: 50%;
}
#awards .second
{
	float: right;
	width: 50%;
}
#awards img
{
	width: 200px;
	float: left;
}
#awards .text
{
	float: right;
	width: 60%;
	text-align: center;
	margin-right: 30px;
}
#interests
{
	width: 100%;
	height: 500px;
	padding-top: 90px;
}
#interests .grid
{
	width: 100%;
}
#interests .grid img
{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 1px solid #54babb;
	box-shadow: 0 0 20px #54babb/*#00A3EF*/;
}
#interests .grid div
{
	float: left;
	margin-right: 20px;
	margin-left: 80px;
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
}
footer
{
	height: 40px;
	background-color: #2e2e2e;
	color: #ffffff;
	margin-top: 50px;
	left: 0;
	right: 0;
	position: absolute;
	padding: 10px;
}
footer img
{
	height: 35px;
	float: right;
	margin-right: 15px;
}